* {
    text-align: center;
    color: green;
}

logo,
banner {
    height: 5em;
    float: left;
    padding-top: 4%;
}

logo {
    width: 30%
}

banner {
    width: 69%
}

section {
    float: left;
    width: 16.41%;
}

.nav {
    padding: 1% 0;
    /* background: #CDE9EC */
    background: #cff;
}

.nav:hover {
    background: #cf9;
    color: blue;
}

a {
    text-decoration: none;
}

aside,
main {
    float: left;
    height: 31em;
}

aside {
    width: 20%;
}

main {
    width: 58.9%;
}

footer {
    width: 95.2%;
    padding: 2%;
}

aside,
footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

logo,
banner,
footer,
main,
aside,
section {
    border: 1px solid green;
}

form {
    margin: auto;
    width: 80%;
    padding-left: 26%;
}

form>div {
    float: left;
}

.dau {
    clear: both;
    width: 10em;
    margin: .9% 1.5%;
    text-align: right;
}

main>h3 {
    margin-top: 6%;
}

[type=text]:focus,
[type=password]:focus,
[type=date]:focus,
textarea:focus,
[type=tel]:focus,
[type=email]:focus,
[type=url]:focus {
    background: #ff9;
}